<section id="grid-system">
  <div class="page-header">
    <h1>Grid system <small>Rock the standard 940px or roll your own</small></h1>
  </div>
  <div class="row">
    <div class="span4 columns">
      <h2>Default grid</h2>
      <p>The default grid system provided as part of Bootstrap is a 940px wide 16-column grid. It’s a flavor of the popular 960 grid system, but without the additional margin/padding on the left and right sides.</p>
    </div>
    <div class="span12 columns">
      <h3>Example grid markup</h3>
      <p>As shown here, a basic layout can be created with two "columns," each spanning a number of the 16 foundational columns we defined as part of our grid system. See the examples below for more variations.</p>
<pre class="prettyprint linenums">
&lt;div class="row"&gt;
  &lt;div class="span6 columns"&gt;
    ...
  &lt;/div&gt;
  &lt;div class="span10 columns"&gt;
    ...
  &lt;/div&gt;
&lt;/div&gt;
</pre>
    </div>
  </div><!-- /row -->
  <div class="row show-grid" title="16 column layout">
    <div class="span1 column">1</div>
    <div class="span1 column">1</div>
    <div class="span1 column">1</div>
    <div class="span1 column">1</div>
    <div class="span1 column">1</div>
    <div class="span1 column">1</div>
    <div class="span1 column">1</div>
    <div class="span1 column">1</div>
    <div class="span1 column">1</div>
    <div class="span1 column">1</div>
    <div class="span1 column">1</div>
    <div class="span1 column">1</div>
    <div class="span1 column">1</div>
    <div class="span1 column">1</div>
    <div class="span1 column">1</div>
    <div class="span1 column">1</div>
  </div><!-- /row -->
  <div class="row show-grid" title="8 column layout">
    <div class="span2 columns">2</div>
    <div class="span2 columns">2</div>
    <div class="span2 columns">2</div>
    <div class="span2 columns">2</div>
    <div class="span2 columns">2</div>
    <div class="span2 columns">2</div>
    <div class="span2 columns">2</div>
    <div class="span2 columns">2</div>
  </div><!-- /row -->
  <div class="row show-grid" title="Example uncommon layout">
    <div class="span3 columns">3</div>
    <div class="span3 columns">3</div>
    <div class="span3 columns">3</div>
    <div class="span3 columns">3</div>
    <div class="span3 columns">3</div>
    <div class="span1 column">1</div>
  </div><!-- /row -->
  <div class="row show-grid" title="Four column layout">
    <div class="span4 columns">4</div>
    <div class="span4 columns">4</div>
    <div class="span4 columns">4</div>
    <div class="span4 columns">4</div>
  </div><!-- /row -->
  <div class="row show-grid" title="Default three column layout">
    <div class="span-one-third column">1/3</div>
    <div class="span-one-third column">1/3</div>
    <div class="span-one-third column">1/3</div>
  </div><!-- /row -->
  <div class="row show-grid" title="One-third and two-thirds layout">
    <div class="span-one-third column">1/3</div>
    <div class="span-two-thirds column">2/3</div>
  </div><!-- /row -->
  <div class="row show-grid" title="Irregular three column layout">
    <div class="span4 columns">4</div>
    <div class="span6 columns">6</div>
    <div class="span6 columns">6</div>
  </div><!-- /row -->
  <div class="row show-grid" title="Half and half">
    <div class="span8 columns">8</div>
    <div class="span8 columns">8</div>
  </div><!-- /row -->
  <div class="row show-grid" title="Example uncommon two-column layout">
    <div class="span5 columns">5</div>
    <div class="span11 columns">11</div>
  </div><!-- /row -->
  <div class="row show-grid" title="Unnecessary single column layout">
    <div class="span16 columns">16</div>
  </div><!-- /row -->
  <h4>Offsetting columns</h4>
  <div class="row show-grid">
    <div class="span4 columns">4</div>
    <div class="span8 columns offset4">8 offset 4</div>
  </div><!-- /row -->
  <div class="row show-grid">
    <div class="span-one-third columns offset-two-thirds">1/3 offset 2/3s</div>
  </div><!-- /row -->
  <div class="row show-grid">
    <div class="span4 columns offset4">4 offset 4</div>
    <div class="span4 columns offset4">4 offset 4</div>
  </div><!-- /row -->
  <div class="row show-grid">
    <div class="span5 columns offset3">5 offset 3</div>
    <div class="span5 columns offset3">5 offset 3</div>
  </div><!-- /row -->
  <div class="row show-grid">
    <div class="span10 columns offset6">10 offset 6</div>
  </div><!-- /row -->
</section>
