<section id="about">
    <div class="page-header">
      <h1>User Details</h1>
    </div>
    <div class="row">
      <div class="span8 offset4">
        <div class="attrlist">
          <div class="clearfix">
            <div class="label">Name:</div> <div class="value"><%= @user.name %></div>
          </div>
          <div class="clearfix">
            <div class="label">EMail Address:</div> <div class="value"><%= @user.email %></div>
          </div>
        </div>

      </div>
    </div>
</section>