
<% if  flash.now[:alert] || flash.now[:notice] %>
    <div id="flashbox" class="row">
        <div class="span-one-third columns">
            <%=alert(flash.now[:alert], "warn") if flash.now[:alert] %>
            <%=alert(flash.now[:notice], "info") if flash.now[:notice] %>
        </div>
    </div>
<% end %>