<section id="home">
  <div class="row">
    <!-- main content -->
    <div id="main" class="span12 columns">
      <div id="banner">
        <h1>Modern.<BR>Professional.<BR>Smart.</h1>
        <h2>Exactly what you need.</h2>
        <h2>All in one place.</h2>

        <div class="buttonbar">
            <a class="btn large primary" href="#">Sign Up</a>
            <a class="btn large success" href="#">Take Tour</a>
        </div>
      </div>

      <div class="row items">
        <div class="span3 columns">
          <h4>One Item</h4>
          <h6>better</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
          <h6>bigger</h6>
          <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
        </div>

        <div class="span3 columns offset1">
          <h4>Two Item</h4>
          <h6>more</h6>
          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
        </div>

        <div class="span3 columns offset1">
          <h4>Last Item</h4>
          <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>

      </div>

    </div>

    <div id="sidebarclass" class="span4 columns">
        <h4>Customers Voice</h4>
        <h6>Hugo S. Klein</h6>
        <p>The best think since sliced bread, really. I was blown away by the rich functionality</p>

        <h6>Oida Vodda</h6>
        <p>At Last. One site that caters all my needs. Simply amazing</p>

        <div class="tweets">
          <h4>Latest Tweets</h4>

          <h5>@vie_softmachine</h5>
          <p>here we go, tons if new stuff added to site. have a look</p>
          <h5>@techcrunch</h5>
          <p>nice one !</p>
          <h5>@nakaoa</h5>
          <p>RT: now whatever *that* means !</p>

        </div>
    </div>
  </div>
</section>