<section id="about">
  <div class="page-header">
    <h1>Not Ready <small>stay tuned</small></h1>
  </div>
  <div class="row">
    <div class="span6 columns">
      <h3>Page: <%=params[:page]%></h3>
      <p>you've requested a page a does not exist (yet). </p>
      <p>please check again latter.</p>
    </div>
  </div><!-- /row -->
</section>