<section id="secret">
  <div class="page-header">
    <h1>A Secret <small>you can only see this after login</small></h1>
  </div>
  <div class="row">
    <div class="span6 columns">
      <h3>Login Data</h3>
      <p>Current user <%= current_user.email %> </p>
      <p><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></p>
    </div>
  </div><!-- /row -->
</section>