<section id="page">
    <div class="page-header">
      <h1><span id="page_title" class="mercury-region" data-type="editable"><%= raw @page.title %></span></h1>
    </div>
    <div id="page_content" class="mercury-region" data-type="editable">
      <%= raw @page.content %>
    </div>
</section>