<section id="about">
  <div class="page-header">
    <h1>About Bootstrap <small>Brief history, browser support, and more</small></h1>
  </div>
  <div class="row">
    <div class="span6 columns">
      <h3>History</h3>
      <p>In the earlier days of Twitter, engineers used almost any library they were familiar with to meet front-end requirements. Bootstrap began as an answer to the challenges that presented and development quickly accelerated during Twitter’s first Hackweek.</p>
      <p>With the help and feedback of many engineers at Twitter, Bootstrap has grown significantly to encompass not only basic styles, but more elegant and durable front-end design patterns.</p>
      <p>Read more on <a href="https://dev.twitter.com/blog/bootstrap-twitter">dev.twitter.com &rsaquo;</a></p>
    </div>
    <div class="span5 columns">
      <h3>Browser support</h3>
      <p>Bootstrap is tested and supported in major modern browsers like Chrome, Safari, Internet Explorer, and Firefox.</p>
      <img src="/assets/browsers.png" width="258px" height="48px" alt="Tested and supported in Chrome, Safari, Internet Explorer, and Firefox">
      <ul>
        <li>Latest Safari</li>
        <li>Latest Google Chrome</li>
        <li>Firefox 4+</li>
        <li>Internet Explorer 7+</li>
        <li>Opera 11</li>
      </ul>
    </div>
    <div class="span5 columns">
      <h3>What's included</h3>
      <p>Bootstrap comes complete with compiled CSS, uncompiled, and example templates.</p>
      <ul>
        <li>All original .less files</li>
        <li>Fully compiled and minified CSS</li>
        <li>Complete styleguide documentation</li>
        <li>Example page template (more to come soon)</li>
      </ul>
    </div>
  </div><!-- /row -->
</section>