<section id="alerts">
  <div class="page-header">
    <h1>Alerts &amp; Errors <small>Styles for success, warning, error, and info messages</small></h1>
  </div>
  <!-- Basic alert messages -->
  <div class="row">
    <div class="span4">
      <h2>Basic alerts</h2>
      <p><code>.alert-message</code></p>
      <p>One-line messages for highlighting the failure, possible failure, or success of an action. Particularly useful for forms.</p>
      <p><a class="btn js-btn" href="./javascript.html#alerts">Get the javascript &raquo;</a></p>
    </div>
    <div class="span12">
      <div class="alert-message warning">
        <a class="close" href="#">&times;</a>
        <p><strong>Holy guacamole!</strong> Best check yo self, you’re not <a href="#">looking too good</a>.</p>
      </div>
      <div class="alert-message error">
        <a class="close" href="#">&times;</a>
        <p><strong>Oh snap!</strong> Change this and that and <a href="#">try again</a>.</p>
      </div>
      <div class="alert-message success">
        <a class="close" href="#">&times;</a>
        <p><strong>Well done!</strong> You successfully <a href="#">read this</a> alert message.</p>
      </div>
      <div class="alert-message info">
        <a class="close" href="#">&times;</a>
        <p><strong>Heads up!</strong> This is an alert that needs your attention, but it’s not <a href="#">a huge priority</a> just yet.</p>
      </div>

      <h4>Example code</h4>
<pre class="prettyprint linenums">
&lt;div class="alert-message warning"&gt;
  &lt;a class="close" href="#"&gt;&times;&lt;/a&gt;
  &lt;p&gt;&lt;strong&gt;Holy guacamole!&lt;/strong&gt; Best check yo self, you’re not looking too good.&lt;/p&gt;
&lt;/div&gt;
</pre>
    </div>
  </div><!-- /row -->
  <!-- Block messages -->
  <div class="row">
    <div class="span4">
      <h2>Block messages</h2>
      <p><code>.alert-message.block-message</code></p>
      <p>For messages that require a bit of explanation, we have paragraph style alerts. These are perfect for bubbling up longer error messages, warning a user of a pending action, or just presenting information for more emphasis on the page.</p>
      <p><a class="btn js-btn" href="./javascript.html#alerts">Get the javascript &raquo;</a></p>
    </div>
    <div class="span12">
      <div class="alert-message block-message warning">
        <a class="close" href="#">&times;</a>
        <p><strong>Holy guacamole! This is a warning!</strong> Best check yo self, you’re not looking too good. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
        <div class="alert-actions">
          <a class="btn small" href="#">Take this action</a> <a class="btn small" href="#">Or do this</a>
        </div>
      </div>
      <div class="alert-message block-message error">
        <a class="close" href="#">&times;</a>
        <p><strong>Oh snap! You got an error!</strong> Change this and that and <a href="#">try again</a>.</p>
        <ul>
          <li>Duis mollis est non commodo luctus</li>
          <li>Nisi erat porttitor ligula</li>
          <li>Eget lacinia odio sem nec elit</li>
        </ul>
        <div class="alert-actions">
          <a class="btn small" href="#">Take this action</a> <a class="btn small" href="#">Or do this</a>
        </div>
      </div>
      <div class="alert-message block-message success">
        <a class="close" href="#">&times;</a>
        <p><strong>Well done!</strong> You successfully read this alert message. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas faucibus mollis interdum.</p>
        <div class="alert-actions">
          <a class="btn small" href="#">Take this action</a> <a class="btn small" href="#">Or do this</a>
        </div>
      </div>
      <div class="alert-message block-message info">
        <a class="close" href="#">&times;</a>
        <p><strong>Heads up!</strong> This is an alert that needs your attention, but it’s not a huge priority just yet.</p>
        <div class="alert-actions">
          <a class="btn small" href="#">Take this action</a> <a class="btn small" href="#">Or do this</a>
        </div>
      </div>

      <h4>Example code</h4>
<pre class="prettyprint linenums">
&lt;div class="alert-message block-message warning"&gt;
  &lt;a class="close" href="#"&gt;&times;&lt;/a&gt;
  &lt;p&gt;&lt;strong&gt;Holy guacamole! This is a warning!&lt;/strong&gt; Best check yo self, you’re not looking too good. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.&lt;/p&gt;
  &lt;div class="alert-actions"&gt;
    &lt;a class="btn small" href="#"&gt;Take this action&lt;/a&gt; &lt;a class="btn small" href="#"&gt;Or do this&lt;/a>
  &lt;/div&gt;
&lt;/div&gt;
</pre>
    </div>
  </div><!-- /row -->
</section>
