<section id="javascript">
   <div class="page-header">
     <h1>Using javascript with Bootstrap <small>An index of plugins to get you started</small></h1>
   </div>
   <div class="row">
     <div class="span4">
       <h2>Getting started</h2>
       <p>Integrating javascript with the Bootstrap library is super easy. Below we go over the basics and provide you with some awesome plugins to get you started!</p>
       <p><a class="btn primary" href="./javascript.html">View javascript docs &raquo;</a></p>
     </div>
     <div class="span12">
      <h3>What's included</h3>
       <p>Bring some of Bootstrap's primary components to life with new custom plugins that work with <a href="http://jquery.com/" target="_blank">jQuery</a> and <a href="http://ender.no.de" target="_blank">Ender</a>. We encourage you to extend and modify them to fit your specific development needs.</p>
        <table class="bordered-table zebra-striped">
          <thead>
            <tr>
              <th style="width: 150px;">File</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a href="./javascript.html#modal">bootstrap-modal.js</a></td>
              <td>Our Modal plugin is a <strong>super</strong> slim take on the traditional modal js plugin! We took special care to include only the bare functionality that we require at twitter.</td>
            </tr>
            <tr>
              <td><a href="./javascript.html#alerts">bootstrap-alerts.js</a></td>
              <td>The alert plugin is a super tiny class for adding close functionality to alerts.</td>
            </tr>
            <tr>
              <td><a href="./javascript.html#dropdowns">bootstrap-dropdown.js</a></td>
              <td>This plugin is for adding dropdown interaction to the bootstrap topbar or tabbed navigations.</td>
            </tr>
            <tr>
              <td><a href="./javascript.html#scrollspy">bootstrap-scrollspy.js</a></td>
              <td>The ScrollSpy plugin is for adding an auto updating nav based on scroll position to the bootstrap topbar.</td>
            </tr>
            <tr>
              <td><a href="./javascript.html#buttons">bootstrap-buttons.js</a></td>
              <td>This plugin offers additional functionality for managing button state.</td>
            </tr>
            <tr>
             <td><a href="./javascript.html#tabs">bootstrap-tabs.js</a></td>
              <td>This plugin adds quick, dynamic tab and pill functionality for cycling through local content.</td>
            </tr>
            <tr>
              <td><a href="./javascript.html#twipsy">bootstrap-twipsy.js</a></td>
              <td>Based on the excellent jQuery.tipsy plugin written by Jason Frame; twipsy is an updated version, which doesn't rely on images, uses css3 for animations, and data-attributes for local title storage!</td>
            </tr>
            <tr>
              <td><a href="./javascript.html#popover">bootstrap-popover.js</a></td>
              <td>The popover plugin provides a simple interface for adding popovers to your application. It extends the <a href="#twipsy">boostrap-twipsy.js</a> plugin, so be sure to grab that file as well when including popovers in your project!</td>
            </tr>
          </tbody>
       </table>
       <h3>Is javascript necessary?</h3>
       <p><strong>Nope!</strong> Bootstrap is designed first and foremost to be a CSS library. This javascript provides a basic interactive layer on top of the included styles.</p>
       <p>However, for those who do need javascript, we've provided the plugins above to help you understand how to integrate Bootstrap with javascript and to give you a quick, lightweight option for the basic functionality right away.</p>
       <p>For more information and to see some live demos, please refer to our <a href="./javascript.html">plugin documentation page</a>.</p>
     </div>
   </div>
</section>
