<% content_for (:no_container) do %>
    <div class="quickstart">
      <div class="container">
        <div class="row">
          <div class="span5">
            <h6>Hotlink the CSS</h6>
            <p>For the quickest and easiest start, just copy this snippet into your webpage.</p>
            <form>
              <textarea class="copy-code" rows="1">&lt;link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.min.css"></textarea>
            </form>
          </div>
          <div class="span5">
            <h6>Use it with Less</h6>
            <p>A fan of using Less? No problem, just clone the repo and add these lines:</p>
            <form>
              <textarea class="copy-code" rows="2">&lt;link rel="stylesheet/less" href="/path/to/bootstrap.less"&gt;
&lt;script src="/path/to/less.js"&gt;&lt;/script&gt;</textarea>
            </form>
          </div>
          <div class="span5">
            <h6>Fork on GitHub</h6>
            <p>Download, fork, pull, file issues, and more with the official Bootstrap repo on Github.</p>
            <p><a target="_blank" href="https://github.com/twitter/bootstrap" class="btn primary">Bootstrap on GitHub &raquo;</a></p>
            <p class="current-version">Currently <a href="https://github.com/twitter/bootstrap/wiki/Changelog">v1.4.0</a></p>
          </div>
        </div><!-- /row -->
      </div>
    </div>
<% end %>
