<section id="popovers">
  <div class="page-header">
    <h1>Popovers <small>Components for displaying content in modals, tooltips, and popovers</small></h1>
  </div>
  <div class="row">
    <div class="span4">
      <h2>Modals</h2>
      <p>Modals&mdash;dialogs or lightboxes&mdash;are great for contextual actions in situations where it’s important that the background context be maintained.</p>
      <p><a class="btn js-btn" href="./javascript.html#modal">Get the javascript &raquo;</a></p>
    </div>
    <div class="span12">
      <div class="well" style="background-color: #888; border: none; padding: 40px;">
        <!-- Modal -->
        <div class="modal" style="position: relative; top: auto; left: auto; margin: 0 auto; z-index: 1">
          <div class="modal-header">
            <a href="#" class="close">&times;</a>
            <h3>Modal Heading</h3>
          </div>
          <div class="modal-body">
            <p>One fine body…</p>
          </div>
          <div class="modal-footer">
            <a href="#" class="btn primary">Primary</a>
            <a href="#" class="btn secondary">Secondary</a>
          </div>
        </div>
      </div>
    </div>
  </div><!-- /row -->

  <!-- Tooltips -->
  <div class="row">
    <div class="span4">
      <h2>Tooltips</h2>
      <p>Twipsies are super useful for aiding a confused user and pointing them in the right direction.</p>
      <p><a class="btn js-btn" href="./javascript.html#twipsy">Get the javascript &raquo;</a></p>
    </div>
    <div class="span12">
      <div class="twipsies well">
        <div style="position: relative">
          <p class="muted" style="margin-bottom: 0">
Lorem ipsum dolar sit amet illo error <a href="#" title="below">ipsum</a> veritatis aut iste perspiciatis iste voluptas natus illo quasi odit aut natus consequuntur consequuntur, aut natus illo voluptatem odit perspiciatis laudantium rem doloremque totam voluptas. <a href="#" title="right">Voluptasdicta</a> eaque beatae aperiam ut enim voluptatem explicabo explicabo, voluptas quia odit fugit accusantium totam totam architecto explicabo sit quasi fugit fugit, totam doloremque unde sunt <a href="#" title="left">sed</a> dicta quae accusantium fugit voluptas nemo voluptas voluptatem <a href="#" title="above">rem</a> quae aut veritatis quasi quae.
          </p>
        </div>
      </div>
    </div>
  </div><!-- /row -->

  <!-- Popovers -->
  <div class="row">
    <div class="span4">
      <h2>Popovers</h2>
      <p>Use popovers to provide subtextual information to a page without affecting layout.</p>
      <p><a class="btn js-btn" href="./javascript.html#popover">Get the javascript &raquo;</a></p>
    </div>
    <div class="span12">
      <div class="well popover-well">
         <div class="popover-wrapper">
          <div class="popover left">
            <div class="arrow"></div>
            <div class="inner">
              <h3 class="title">Popover Title</h3>
              <div class="content">
                <p>Etiam porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
              </div>
            </div>
          </div>
          <img class="large-bird" src="assets/img/bird.png" >
        </div>
      </div>
    </div>
  </div><!-- /row -->
</section>
