@import "app/assets/stylesheets/bootstrap/variables";
@import "app/assets/stylesheets/bootstrap/mixins";


body#users {
    div.attrlist {
      padding-top: @baseline;
      margin-bottom: @baseline;

      div.record {
        margin-bottom: @baseline/2;
          .clearfix();

          div.title {
            /*padding-top: 6px;*/
            font-size: @basefont;
            line-height: @baseline;
            float: left;
            width: 130px;
            text-align: right;

            background-color:@white;
            color: @gray;
          }

          div.value {
            margin-left: 150px;
            color:@gray;
          }
      }
    }
}


